@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inconsolata", serif;
  color: #000000;
  background-image: url("/images/background-desktop.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
}

@media (max-width: 767px) {
  body {
    background-image: url("/images/background-mobile.png");
  }
}
