@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inconsolata";
  font-display: swap;
  color: #000000;
  background-image: url("/images/background-desktop.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
}

@media (max-width: 767px) {
  body {
    background-image: url("/images/background-mobile.webp");
  }
}
